@model Article


    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Article"
                       asp-action="Details"
                       asp-route-id="@Model.ArticleId">@Model.Name</a>
                </h3>
                <p>@Model.Description</p>

                <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-articleId="@Model.ArticleId" method="post" role="form">
                    <div class="form-group">
                        <label asp-for="HireFrom" class="col-md-2 control-label"></label>
                        <div class="col-md-5">
                            <input asp-for="HireFrom" class="form-control" />
                            <span asp-validation-for="HireFrom" class="text-danger"></span>
                        </div>


                        <label asp-for="HireTill" class="col-md-2 control-label"></label>
                        <div class="col-md-5">
                            <input asp-for="HireTill" class="form-control" />
                            <span asp-validation-for="HireTill" class="text-danger"></span>

                        </div>

                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" class="btn btn-primary" value="Add to cart" />
                        </div>
                    </div>
                </form>


                    @*</div>

            <div class="addToCart">
                    <p class="button">
                        <a class="btn btn-primary"
                           asp-controller="ShoppingCart"
                           asp-action="AddToShoppingCart"
                           asp-route-articleId="@Model.ArticleId">Add to cart</a>
                    </p>
                </div>
        </div>*@
                </div>
</div>
</div>


